@import "./vars.scss";

.navigation {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 0%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;

    z-index: 1500;
    transition: width  .7s cubic-bezier(.64,1.48,.8,1.44);


    &.active {
        width: 100%;

        .navigation__background {
            transform: scale(80) !important;
        }

        .navigation__item {
            transform: translateX(0) !important;
            opacity: 1 !important;
        }
        
    }


    &__button {
        width: 7rem;
        height: 7rem;

        border-radius: 50%;
        background-color: white;
        cursor: pointer;

        position: fixed;
        top: 6rem;
        right: 6rem;
        z-index: 2000;

        display: flex;
        justify-content: center;
        align-items: center;

        &_line {
            position: relative;
            &,
            &::before,
            &::after {
                width: 3rem;
                height: 2px;
                display: block;
                background: #333333;
                transition: all .3s ease-in-out;
            }

            &::before,
            &::after {
                content: "";
                position: absolute;
                left: 0;
            }
            &::before {
                top: -1rem;
            } 
            &::after {
                top: 1rem;
            }
        }
    }
    &.active &__button_line {
        background: transparent;
        &::before {
            transform: rotate(135deg) translate(8px, -9px);
        }
        &::after {
            transform: rotate(-135deg) translate(5px, 6px);
        }
    }

    &__background {
        width: 6rem;
        height: 6rem;

        border-radius: 50%;
        background-image: radial-gradient($color-light-green, $color-dark-green);

        position: fixed;
        top: 6.5rem;
        right: 6.5rem;
        z-index: 1000;

        transform: scale(0);
        transition: transform .5s cubic-bezier(.91,.2,.51,.68);
    }

    &__list {
        list-style: none;
        z-index: 1500;
        text-align: center;
    }

    &__item {
        &:not(:last-of-type) {
            margin-bottom: 2rem;
        }
        opacity: 0;
        transition: opacity  .4s cubic-bezier(.13,1.49,.55,1.26);
        transition-delay: .2s;
    }

    &__link {
        display: inline-block;
        font-weight: 100;
        font-size: 3.5rem;
        color: white;
        text-decoration: none;
        text-transform: uppercase;
        padding: 1rem 2rem;
        background-image: linear-gradient(115deg, transparent 0%, transparent 50%, white 50%);
        background-repeat: no-repeat;
        background-size: 220%;
        transition: background .3s ease-in-out, color .3s ease-in-out, transform .3s ease-in-out;


        &:hover {
            background-position: 100%;
            color: $color-dark-green;
            transform: translateX(1.3rem);
        }

        span {
            display: inline-block;
            margin-right: 1rem;
        }
    }
}