$color-light-green: #7ed56f;
$color-green: #55c57a;
$color-dark-green: #28b485;

$color-dark-grey: #777;

$color-light-orange: #ffb900;
$color-dark-orange:#ff7730;

$color-light-blue: #2998ff;
$color-violet: #5643fa;


$logo-size: 6rem;
$container-width: 90%;